.calendarContainer {
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  overflow: hidden;
  // temporary height for look
  height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
