.controlsBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;

  .viewToggles {
    display: flex;
    gap: 0.5rem;
  }

  .navigationControls {
    display: flex;
    align-items: center;
    gap: 1rem;

    .weekNavigation {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .buttonPlaceholder {
    padding: 0.5rem 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;

    &.addBooking {
      border: none;
    }
  }

  .iconPlaceholder {
    width: 1.5rem;
    height: 1.5rem;
  }

  .calendarContainer {
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    overflow: hidden;
    // temporary height for look
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
