.schedulePage {
  min-height: 100vh;
  padding: 1rem 2rem;
  padding-top: 0;

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .schedulePage {
    padding: 1rem;
  }
}
