@use "@/styles/variables" as *;

.tableContainer {
  width: 100%;
  height: 650px;
}

.headerWithIcon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerName {
  font-size: 14px;
  font-weight: $font-weight-semibold;
}
