@use "@/styles/variables" as *;

.tableContainer {
  width: 100%;
  height: 650px;

  :global(.ag-header-cell) {
    border-right: 1px solid var(--color-border);
    padding-left: 0;
    
    &:last-child {
      border-right: none;
    }
  }

  :global(.ag-header-cell-resize) {
    display: none;
  }
}

.headerWithIcon {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 12px 0 12px 8px;

  svg {
    flex-shrink: 0;
    min-width: 16px;
    min-height: 16px;
  }
}

.headerName {
  font-size: 14px;
  font-weight: $font-weight-semibold;
}
