// font variables
$font-primary: var(--font-albert-sans), sans-serif;
$font-weight-regular: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// color variables
$color-cherry-red: #A03145;
$color-cobalt-blue: #375A87;
$color-bubblegum: #D86776;
$color-forest-green: #1A641E;
$color-dark-grey: #434343;
$color-light-grey: #BFBFBF;
$color-white: #FFFFFF;
$color-black: #000000;

$color-text-primary: $color-dark-grey;
$color-background: $color-white;

//primary button
$color-primary: $color-cherry-red;
$color-primary-text: $color-white;
$color-primary-hover: $color-bubblegum;
$color-primary-hover-text: $color-dark-grey;

//secondary button
$color-secondary: $color-white;
$color-secondary-hover: $color-light-grey;
$color-secondary-text: $color-dark-grey;

// disabled button
$color-disabled: $color-light-grey;
$color-disabled-text: $color-dark-grey;

// calender/table view buttons
$color-view-selected: $color-dark-grey;
$color-view-selected-text: $color-white;
$color-view-hover: $color-light-grey;
$color-view-hover-text: $color-dark-grey;
$color-view-deselected: $color-white;
$color-view-deselected-text: $color-dark-grey;

//border color
$color-border: $color-light-grey;
