.logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  max-width: 90vw;

  /* White */
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow-x: hidden;
}

.usernameText {
  /* User name */

  /* Heading 3 */
  font-family: "Albert Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* identical to box height */

  /* Dark Grey */
  color: #424242;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.emailText {
  /* useremail@email.com */

  width: 289px;
  height: 15px;

  /* Regular Copy */
  font-family: "Albert Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  /* Dark Grey */
  color: #424242;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.profileCard {
  /* Frame 118 */

  /* Auto layout */
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.profilePicture {
  /* Ellipse 1 */

  width: 48px;
  height: 48px;

  background: #d9d9d9;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 100%;
}
