@use "@/styles/variables" as *;

.mainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  /* login card */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 12px;

  width: 526px;
  height: 297px;

  background: $color-white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 16px;

  @media (max-width: 420px) {
    /* login card */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 8px;

    width: 353px;
    height: 279px;

    /* White */
    background: $color-white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }
}

.logoutText {
  /* You’ve logged out of the Navigation Centre */

  width: 450px;
  height: 76px;

  /* Heading 1

Large Titles
*/
  font-weight: $font-weight-bold;
  font-size: 32px;
  line-height: 38px;
  text-align: center;

  /* Dark Grey */
  color: $color-dark-grey;

  @media (max-width: 420px) {
    /* You’ve logged out of the Navigation Centre */

    width: 289px;
    height: 58px;

    /* Heading 2

Subtitles
*/
    font-weight: $font-weight-bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    /* Dark Grey */
    color: $color-dark-grey;
  }
}
.icons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
