.surveysPageOptionsBar {
  padding: 1rem;

  @media (min-width: 768px) {
    padding: 1rem 2rem;
  }
}

.surveysContainer {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
